{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "learning/links.html" %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Learning & Assessment Values</title>
    <style>
        .top-img-container{
            position: relative;
            height: 80vh;
            /* background-image:url("{% static 'img/events-bg.png' %}");
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center; */
        }
        .overlay{
            position: absolute;
            z-index: -1;
            width: 100vw !important;
            height: 100%;
            
        }
        .overlay-1{
            position: absolute;
            z-index: -2;
            width: 100vw !important;
            height: 100%;
        }
        .session-img{
            max-width: 250px;
        }
        .session-title-holder{
            border-bottom: 1px solid #707070;
        }
        .sessions,.learn,.course-nav,.courses{
            width:100vw;
            font-family: Gilroy;
        }
        .read-more-btn{
            background-color: #FF5656;
            border: none;

        }
        .read-more-btn:hover{
            background-color: #ff3333;
            border: none;
            transition: 0.3s;
        }
        .learn-img{
            max-width: 150px;
            margin: auto;
            /* max-height: ; */
        }
        .height-limit{
            min-height: 150px;
            max-height: 180px;
        }
        .trained{
            font-family: Gilroy;
        }
        /* New changes */
        .course-choice{
            border-bottom: 10px solid #e6e6e6;
        }
        .course-active{
            border-bottom: 10px solid #FF5656;
            color: #FF5656;
        }
        .extra-small{
            font-size: 10px;
        }
        .course{
            max-width: 324px;
        }
        .course-choice:hover{
            cursor: pointer;
        }
        .course:hover{
            cursor: pointer;

        }
        .hidden{
            visibility: hidden;
        }
    </style>
</head>
<body>
    {% include 'learning/header.html' %}
      <div class="container">
          <!-- Top banner -->
          <div class="top-wrapper top-img-container">
            <img src="{% static 'img/events-bg.png' %}" class="w-100 overlay-1" alt="">
              <img src="{% static 'img/Rectangle-black.png' %}" class="w-100 overlay" alt="">
            <div class="main-wrapper text-white px-5 py-5 d-flex flex-column justify-content-center">
                <div class="row w-50 pt-5 py-3 mt-5">
                <h2><span class="nav-active">TRANSFORMING</span><br>WORKPLACES TOGETHER</h2>
                </div>
                <div class="row my-5">
                    <div class="col">
                        <p class="w-75 h6">
                        Learn and Acquire Comeptence Through Conferences Webinars, Virtual Live, Festivals, Internships, Apprenticeships and Work.</p>
                    </div>
                    <div class="col">
                    
                    </div>
                
                </div>
            </div>
        </div>
        <div class="sessions p-5">
            <div class="sessions-wrapper">
                <div class="heading-wrapper">
                    <h2 class="nav-active text-center">Upcoming Live Sessions</h2>
                </div>
                <div class="sessions-content d-flex justify-content-center my-5">
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-1.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Agile project Management + Jira Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$599</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trained">
            <div class="trained-wrapper p-5">
                <div class="row">
                    <h1 class="text-secondary">GET TRAINED. GET HIRED.</h1>
                </div>
                
                <div class="row">
                    <p class="text-secondary">We offer wide variety of programs and courses, led by
                        leading industry experts.</p>
                </div>
            </div>
        </div>
        <div class="course-nav p-5">
            <div class="row">
                <div class="col text-right">
                    <div class="course-choice d-inline py-2 course-active">
                        <h4 class="fw-bold d-inline">INDUSTRY AGNOSTIC COURSES</h4>
                    </div>
                    
                </div>
                <div class="col text-center">
                    <div class="course-choice d-inline py-2">
                        <h4 class="fw-bold d-inline">INDUSTRY SPECIFIC COURSES</h4>
                    </div>
                </div>

                <div class="col text-left">
                    <div class="course-choice d-inline py-2">
                        <h4 class="fw-bold d-inline">ASSESSMENT SOLUTIONS</h4>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="courses p-5">
            <div class="d-flex flex-column align-items-center">
                <div class="course-wrapper">
                    <div class="d-flex">
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Agile Project Management + Jira Course</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">NIL</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Events</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">NIL</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Master Data Management Masterclass</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">$599</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Data Analytics With Excel Masterclass</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">$399</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Cloud Computing Masterclass</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">$599</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Lean Six Sigma MasterClass</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">$1,299</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Big Data Analysis Masterclass</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">$1,299</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Business Analysis Masterclass</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">$599</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Agile Project Management + Jira Masterclass</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">$599</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Business Intelligence Masterclass with Power BI & Tableau</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">NIL</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow hidden">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Business Intelligence Masterclass with Power BI & Tableau</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">NIL</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="course m-3 shadow hidden">
                            <div class="course-top">
                                <img src="{% static 'img/course-img.png' %}" class="w-100" alt="">
                            </div>
                            <div class="course-bottom py-2 px-3">
                                <div class="row course-intro">
                                    <div class="col-9">
                                        <p>Business Intelligence Masterclass with Power BI & Tableau</p>
                                    </div>
                                    <div class="col-2">
                                        <strong class="nav-active">NIL</strong>
                                    </div>
                                </div>
                                <div class="row course-instructor">
                                    <div><span class="nav-active">Justus Aiyela</span></div>
                                    <div class="d-flex nav-active">
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        
                                        
                                    </div>
                                    <div><p class="extra-small text-secondary my-2">Read More ></p></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="learn">
            <div class="learn-wrapper p-5">
                <div class="learn-container p-5">
                    <div class="learn-top">
                        <div class="row">
                            <h1>How Will You Learn</h1>
                        </div>
                        <div class="row">
                            <h4>an Immersive Learning Experience</h4>
                        </div>
                    </div>
                    <div class="learn-bottom my-5">
                        <div class="row">
                            <div class="col">
                                <div class="method text-center mx-2">
                                    <div class="row text-center height-limit">
                                        <img src="{% static 'img/suitcase.png' %}" class="learn-img" alt="">
                                    </div>
                                    <div class="row py-4">
                                        <p>Become Career Ready</p>
                                    </div>
                                    <div class="row py-2">
                                        <p>Cutting-edge curriculum designed in 
                                            guidance with industry and academia 
                                            to develop job-ready skill</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="method text-center mx-2">
                                    <div class="row text-center height-limit">
                                        <img src="{% static 'img/bookmark.png' %}" class="learn-img" alt="">
                                    </div>
                                    <div class="row py-4">
                                        <p>Learn from Practitiioners</p>
                                    </div>
                                    <div class="row py-2">
                                        <p>Our facilitators are leading practitioners
                                            with experience on best practices 
                                           and bring same into the sessions.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="method text-center mx-2">
                                    <div class="row text-center height-limit">
                                        <img src="{% static 'img/chart.png' %}" class="learn-img" alt="">
                                    </div>
                                    <div class="row py-4">
                                        <p>Solve real World Problems</p>
                                    </div>
                                    <div class="row py-2">
                                        <p>The capstone projects executed at the 
                                            end of most classes involve real world data 
                                            sets with virtual labs for hands-on learning.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="method text-center">
                                    <div class="row text-center height-limit">
                                        <img src="{% static 'img/tick.png' %}" class="learn-img" alt="">
                                    </div>
                                    <div class="row py-4">
                                        <p>Mentorship after Classes</p>
                                    </div>
                                    <div class="row py-2">
                                        <p>After our classes, we ensure that our students 
                                            are ambassadors of our classes and is reason 
                                            they are supported post-course, where required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      {% include "learning/footer.html" %}
      <script>
          $(".course-choice").on("click",function(){
            RemoveActiveClass()
            $(this).addClass("course-active")
          })
          function RemoveActiveClass(){
              $(".course-choice").removeClass("course-active")
          }
          $(".course").on("click",function(){
              window.location.href="{% url 'Course' %}"
          })
      </script>
</body>
</html> 