{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% include 'learning/links.html' %}
    <script
    src="https://www.paypal.com/sdk/js?client-id=AT1WsTqnMe4fUOxccIfT_QC9JIhn5St_kwhSkf4WhgpYkhy8FLLJcWdyySmWbYtncMJ1fTdcPJzHXW50"> // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
  </script>
    <title>Details</title>
    <style>
        /* body{
            font-size: 14px !important;
        } */
        .small{
            font-size: 15px;
        }
        .blue-bg{
            background-color: #384651;
        }
        .small-img{
            max-width: 30px;
        }
        .blue{
            color: #384651;
        }
        .border-blue{
            border: 1.5px solid #384651;
        }
        .details-tree-content{
            position: relative;
            height: 100%;
        }
        .details-tree-content>p{
            position: absolute;
            bottom: 0px;
        }
        .dummy{
            min-height: 30px;
            width: 0px;
            border: 1px solid #384651;
        }
        .x-small{
            font-size: 14px;
        }
        .session-details{
            min-width: 100vw;
        }
        .btn-prev{
            left: auto !important;
            right: 50px !important;
        }
        .month{
            max-width: 50px;
            /* display: inline !important; */
        }
        .simple-calendar-btn{
            border-radius: 10px !important;
            background-color: #384651;
            border: 2px solid #384651 !important;
            color: white;
        }
        .simple-calendar-btn:hover{
            background-color: #2a343c !important;
            border: 2px solid #2a343c !important;
        }
        .calendar>table{
            font-size: 13px;
            background-color: #EBEBEB;
            border-radius: 1rem !important ;        
        }
    
        .calendar td{
            padding:0px !important;
        }
        .calendar-wrapper{
            border-bottom: 1px solid #FE5555;
        }
        .continue-btn{
            background-color: #FE5555;
            border: none;
        }
        .continue-btn:hover{
            background-color: white;
            color: #FE5555;
            border: none;
            transition: 0.2s;
        }
        .today{
            background: #FE5555 !important;
        }
        .day:hover{
            border:2px solid #FE5555 !important;
        }
        .detail-active{
            color: #FE5555;
            border: 1px solid #FF5656;
        }
        .schedule-radio-btn,.payment-btn{
            border:2px solid white;
            box-shadow:0 0 0 2px #ccc;
            appearance:none;
            border-radius:50%;
            width:12px;
            height:12px;
            background-color:#fff;
            transition:all ease-in 0.1s;

        }
        .schedule-radio-btn:checked,.payment-btn:checked{
            background-color: #FE5555;
            box-shadow:0 0 0 1px #FE5555;
            /* border: 1px solid #FE5555; */
        }
        .schedule-radio-btn:hover,.payment-btn:hover{
            cursor: pointer;
        }
        .change{
            border: 1px solid #FE5555;
            color: #FE5555;
        }
        .change:hover{
            background-color: #FE5555;
            color: white;
            border: 1px solid #FE5555;
            transition: 0.2s;
        }
        .discount-input::placeholder,.card-input::placeholder{
            color: white;
            opacity: 1;
        }
        .discount-input{
            border: none;
        }
        .bg-dark{
            background-color: #131619 !important;
        }
        .w-20{
            width: 20% !important;
        }
        .card-input{
            border: none;
            min-height: 40px;
        }
        .w-60{
            width: 60% !important;
        }
        .w-15{
            width: 15% !important;
        }
        .paypal{
            background-color: #384651;
            border: none;
        }
        .paypal:hover{
            background-color: #2a343c;
            border: none;
            transition: 0.2s;
        }
    </style>
</head>
<body>
    {% include 'learning/header.html' %}
    <div class="container">
        <!-- Top banner -->
        <div class="top-wrapper top-img-container">
            <img src="{% static 'img/events-banner.png' %}" class="w-100 overlay-1" alt="">
              <img src="{% static 'img/Rectangle-black.png' %}" class="w-100 overlay" alt="">
              <div class="main-wrapper text-white px-5 py-5 d-flex flex-column justify-content-center h-100">
                <div>
                <h1 class="fw-bold extra">Events</h1>
                </div>
                
            </div>
            
        </div>
        <!-- Tree -->
        <div class="tree py-4 px-5 shadow">
            <div class="d-flex flex-row">
                <div class="tree-element">
                    <span>>></span><p class="d-inline">Home</p>
                </div>

                <div class="tree-element mx-3">
                    <span>>></span><p class="d-inline">Live Events</p>
                </div>
                
            </div>
        </div>
        <!-- Session Details -->
        <div class="session-details p-5 row">
            <div class="col-4 ">
                <div class="details-wrapper shadow rounded py-1">
                    <div class="details-header blue-bg shadow text-white my-5 mx-4 rounded p-5 d-flex flex-column justify-content-center align-items-center">
                        <div class="py-2 h6 text-center">
                            <p>Jira & Microsoft Office Expert</p>
                        </div>
                        <div class="event-presenters d-flex py-2 px-2 border-top">
                            <div class="presenter px-3">
                                <img src="{% static 'img/presenter.png' %}" class="small-img" alt="">
                                
                            </div>
                            <div class="presenter px-3 ">
                                <img src="{% static 'img/presenter.png' %}" class="small-img" alt="">
                                
                            </div>

                        </div>
                    </div>
                    <div class="details-tree my-5 mx-2 rounded p-5 blue">
                        <div class="detail">
                            <div class="detail-holder row">
                                <div class="col-4 text-center choose-course ">
                                    <i class="fas fa-file-alt rounded border-blue p-3 detail-active"></i>
                                </div>
                                <div class="col-8 ">
                                    <div class="details-tree-content">
                                        
                                            <p class="h7 small">Choose Course</p>

                                    </div>
                                </div>
                            </div>
                            <div class="vertical-holder row py-3">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <div class="dummy choose-course detail-active">

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="detail">
                            <div class="detail-holder row">
                                <div class="col-4 text-center">
                                    <i class="fas fa-bars rounded session-detail border-blue p-3"></i>
                                </div>
                                <div class="col-8 ">
                                    <div class="details-tree-content">
                                        
                                            <p class="h7 small">Session details</p>

                                    </div>
                                </div>
                            </div>
                            <div class="vertical-holder row py-3">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <div class="dummy session-detail">

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="detail">
                            <div class="detail-holder row">
                                <div class="col-4 text-center">
                                    <i class="fas fa-wallet rounded border-blue p-3 payment"></i>
                                </div>
                                <div class="col-8 ">
                                    <div class="details-tree-content">
                                        
                                            <p class="h7 small">Payment</p>

                                    </div>
                                </div>
                            </div>
                            <div class="vertical-holder row py-3">
                                <div class="col-4 d-flex justify-content-center align-items-center">
                                    <div class="dummy payment">

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="detail">
                            <div class="detail-holder row">
                                <div class="col-4 text-center confirmation">
                                    <i class="fas fa-check rounded border-blue p-3"></i>
                                </div>
                                <div class="col-8 ">
                                    <div class="details-tree-content">
                                        
                                            <p class="h7 small">Confirmation</p>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <button class="btn btn-light w-100 my-5 px-4 py-2">Having trouble?<br> Get help</button>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="content-wrapper py-1">
                    <div class="header">
                        <h3 class="nav-active">Session Details</h3>
                        <p class="x-small session-description">Book session you wish to schedule now and save remaining for later.</p>
                    </div>
                    <div class="session row py-2 px-2 shadow">
                        <div class="col-2">
                            <img src="{% static 'img/session-2.png' %}" class="w-100" alt="">
                        </div>
                        <div class="col-10 d-flex flex-column justify-content-center">
                            <div>
                                <p class="my-1 h5">1 session (30 mins)</p>
                                <p class="small">Jira masterclass</p>
                                <a class="x-small nav-active">Change</a>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-wrapper my-3 row">
                        <div class="col">
                            <div class="calendar-holder">

                            </div>
                            <!-- <p class="m-0 text-secondary">PAYMENT METHODS</p>
                            <div class="payment-options d-flex flex-column">
                                <div class="payment-optn row p-2 py-3 my-2 rounded shadow">
                                    <div class="col-1">
                                        <input type="radio" class="payment-btn" name="payment" value="debit">
                                    </div>
                                    <div class="col-11">
                                        <i class="fas fa-credit-card h5 mx-2"></i>
                                        <p class="d-inline mx-1">Credit or Debit Card</p>
                                        <div class="my-2 bg-secondary rounded d-none">
                                            <input type="text" class="w-60 p-2 bg-secondary d-inline rounded card-input" placeholder="Card Number">
                                            <input type="month" class="w-15 d-inline bg-secondary rounded date-input card-input" placeholder="mm/yy">
                                            <input type="text" maxlength="3" class="w-20 d-inline bg-secondary rounded cvc-input card-input" placeholder="CVC">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="payment-optn row p-2 py-3 my-2 rounded shadow">
                                    <div class="col-1">
                                        <input type="radio" class="payment-btn" name="payment" value="paypal">
                                    </div>
                                    <div class="col-11">
                                        <i class="fab fa-paypal h5 mx-2"></i>
                                        <p class="d-inline mx-1">Paypal</p>
                                        <div class="d-none">
                                            <button class="btn btn-primary paypal w-100">Paypal</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> -->
                        </div>
                        <div class="col px-5">
                            <div class="timezone blue">
                                <i class="fas fa-globe mx-2"></i>
                                <p class="d-inline">(GMT 01:00) Africa, Lagos (2:09 AM)</p>
                            </div>
                            <div class="slot-wrapper d-flex flex-column my-2 ">
                                <div class="slot my-4 d-flex flex-column align-items-end justify-content-start py-5 px-4 rounded shadow">
                                    <div class="p-1">
                                        <h4 class="nav-active">No slots available</h4>
                                        <p>Looks like the course has no availability for this date or duration, please try to choose a lesser duration to see more available slots.</p>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- <div class="checkout my-5 p-3 px-5 bg-dark rounded">
                                <div class="row rounded bg-white my-2 py-2">
                                    <div class="col-3">
                                        <img src="{% static 'img/session-2.png' %}" class="w-100" alt="">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <p class="mb-1 text-dark">1 hour</p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0 x-small text-dark">1 hour</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-8 p-0">
                                        <input type="text" class="form-control bg-secondary discount-input" placeholder="Discount Code" >
                                    </div>
                                    <div class="col-4 pr-0">
                                        <button class="btn btn-outline-danger w-100">Apply</button>
                                    </div>
                                </div>
                                <div class="price-holder my-3 mt-5">
                                    <div class="row session-price-holder">
                                        <div class="col">
                                            <p>Session Price</p>
                                        </div>
                                        <div class="col text-right">
                                            <p class="x-small">$299</p>
                                        </div>
                                    </div>
                                    <div class="row total-amount-holder border-top py-3">
                                        <div class="col">
                                            <p>Total Price</p>
                                        </div>
                                        <div class="col text-right">
                                            <p class="h4">$299</p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="btns-row my-2 row mx-3">
                        <div class="col">
                            <a href="">Previous</a>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-primary continue-btn">Continue<i class="fas fa-arrow-right ml-3 py-2 px-2"></i></button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    {% include 'learning/footer.html' %}
</body>
<script>
    $(function(){
      $(".calendar-holder").simpleCalendar();
      $(".day").on("click",function(e){
        e.preventDefault()
        
        WipeToday()
        $(this).addClass("today")
        window.date = new Date($(this).data('date'));
        console.log(window.date)
        $(".session-detail").addClass("detail-active")
        document.querySelector(".slot-wrapper").innerHTML=""
        document.querySelector(".slot-wrapper").innerHTML=`<div class="schedule-time row my-1">
                                    <div class="col">
                                        <div class="shadow rounded py-3 px-2">
                                            <input type="radio" class="schedule-radio-btn" value="3" name="schedule-time" class="mx-2">
                                            <p class="d-inline">3:00 PM</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="schedule-time row my-1">
                                    <div class="col">
                                        <div class="shadow rounded py-3 px-2">
                                            <input type="radio" class="schedule-radio-btn" value="4" name="schedule-time" class="mx-2">
                                            <p class="d-inline">4:00 PM</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="schedule-time row my-1">
                                    <div class="col">
                                        <div class="shadow rounded py-3 px-2">
                                            <input type="radio" class="schedule-radio-btn"value="5" name="schedule-time" class="mx-2">
                                            <p class="d-inline">5:00 PM</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="schedule-time row my-1">
                                    <div class="col">
                                        <div class="shadow rounded py-3 px-2">
                                            <input type="radio" class="schedule-radio-btn" value="6" name="schedule-time" class="mx-2">
                                            <p class="d-inline">6:00 PM</p>
                                        </div>
                                    </div>
                                    
                                    
                                </div>`

        $(".schedule-time").click(function(e){
            
            this.children[0].children[0].children[0].click()
            WipeBlueBackground()
            $(this.children[0].children[0]).addClass("blue-bg selected-slot text-white")
            $(this.children[0]).removeClass("col")
            $(this.children[0]).addClass("col-8")
            // console.log(this.parentNode)
            this.innerHTML+=`<div class="col-4 text-center">
        <button class="btn btn-primary py-3 px-3 w-100 continue-btn confirm-slot">Confirm</button>
    </div>`
            this.children[0].children[0].children[0].checked=true
            
            $(".confirm-slot").on("click",function(){
            console.log("here")
            var target_slot=$(".schedule-radio-btn:checked").val()
            var target_date= target_slot+`:00 pm - ${target_slot}:30 pm (30 minutes)`
            document.querySelector(".slot-wrapper").innerHTML=""
            document.querySelector(".slot-wrapper").innerHTML=`<div class="slot-confirmed row my-2 rounded shadow py-2">
                                    <div class="col-7">
                                        <p class="nav-active mb-1">${window.date.toLocaleString(undefined,{weekday:"long",hour: '2-digit', hour12: false, minute:'2-digit', second:'2-digit'})}</p>
                                        <p class="mb-0">${target_date}</p>
                                    </div>
                                    <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                                        <div>
                                            <button class="btn btn-outline-primary change">Change</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="goal-question my-2">
                                    <p class="m-0 text-secondary">What are your goals for this session?</p>
                                    <textarea name="" id="" class="form-control" cols="30" rows="3"></textarea>
                                </div>
                                <div class="save-btn-holder text-right my-2">
                                    <button class="btn btn-primary continue-btn py-3 px-4 save-session">Save Session</button>
                                </div>`
        })
        $(".save-session").on("click",function(){
            $(".session").remove()
            var first_target= document.querySelector(".calendar-wrapper").children[0]
            first_target.innerHTML=`<p class="m-0 text-secondary">PAYMENT METHODS</p>
            <div class="payment-options d-flex flex-column">
                                <div class="payment-optn row p-2 py-3 my-2 rounded shadow">
                                    <div class="col-1">
                                        <input type="radio" class="payment-btn" name="payment" value="debit">
                                    </div>
                                    <div class="col-11">
                                        <i class="fas fa-credit-card h5 mx-2"></i>
                                        <p class="d-inline mx-1">Credit or Debit Card</p>
                                        <div class="my-2 bg-secondary rounded d-none">
                                            <input type="text" class="w-60 p-2 bg-secondary d-inline rounded card-input" placeholder="Card Number">
                                            <input type="month" class="w-15 d-inline bg-secondary rounded date-input card-input" placeholder="mm/yy">
                                            <input type="text" maxlength="3" class="w-20 d-inline bg-secondary rounded cvc-input card-input" placeholder="CVC">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="payment-optn row p-2 py-3 my-2 rounded shadow">
                                    <div class="col-1">
                                        <input type="radio" class="payment-btn" name="payment" value="paypal">
                                    </div>
                                    <div class="col-11">
                                        <i class="fab fa-paypal h5 mx-2"></i>
                                        <p class="d-inline mx-1">Paypal</p>
                                        <div class="d-none paypal-button-container">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>`
            initPayPalButton();
            var second_target=document.querySelector(".calendar-wrapper").children[1]
            second_target.innerHTML=`<div class="checkout my-5 p-3 px-5 bg-dark rounded">
                                <div class="row rounded bg-white my-2 py-2">
                                    <div class="col-3">
                                        <img src="{% static 'img/session-2.png' %}" class="w-100" alt="">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <p class="mb-1 text-dark">1 hour</p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0 x-small text-dark">1 hour</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-8 p-0">
                                        <input type="text" class="form-control bg-secondary discount-input" placeholder="Discount Code" >
                                    </div>
                                    <div class="col-4 pr-0">
                                        <button class="btn btn-outline-danger w-100">Apply</button>
                                    </div>
                                </div>
                                <div class="price-holder my-3 mt-5">
                                    <div class="row session-price-holder">
                                        <div class="col">
                                            <p>Session Price</p>
                                        </div>
                                        <div class="col text-right">
                                            <p class="x-small">$299</p>
                                        </div>
                                    </div>
                                    <div class="row total-amount-holder border-top py-3">
                                        <div class="col">
                                            <p>Total Price</p>
                                        </div>
                                        <div class="col text-right">
                                            <p class="h4">$299</p>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                            
  
    
    
  
                            $(".payment-btn").on("click",function(){
        if(this.value == "debit"){
            var to_work=this.parentNode.nextElementSibling.children[2]
            $(to_work).removeClass("d-none")
        }
        else{
            var to_work=this.parentNode.nextElementSibling.children[2]
            $(to_work).removeClass("d-none")
        }
    })
        })
        
        })
        
        function WipeBlueBackground(){
           
        $(".schedule-time div div").removeClass("blue-bg selected-slot text-white")
        $(".schedule-time div").removeClass("col-8")
        $(".schedule-time div").addClass("col")
        var continue_btn=$(".schedule-time")
        l = continue_btn.length
        for(i=0; i<l; i++){
            if(continue_btn[i].children[1]){
                continue_btn[i].children[1].remove()
            }
        }

        return true
    }
    })
    });
    
    function WipeToday(){
        $(".day").removeClass("today")
    }
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'pill',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
        },

        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{"description":"Test Session","amount":{"currency_code":"USD","value":299}}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            
            // Full available details
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

            // Show a success message within this page, e.g.
            const element = document.querySelector('.paypal-button-container');
            element.innerHTML = '';
            element.innerHTML = '<h3>Thank you for your payment!</h3>';

            // Or go to another URL:  actions.redirect('thank_you.html');
            
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('.paypal-button-container');
    }
</script>
</html>