{% load static %}
<style>
    .learning-assessment-item{
        position: relative;
        font-family: 'Poppins', sans-serif;;
    }
    #learning-assessment-dropdown>li:hover{
        background-color: rgba(254, 85, 85,0.42);
    }
    #learning-assessment-dropdown>li>a{
        background-color: transparent;
    }
    .dropdown-item{
        font-size: 14px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid p-3">
      <img src="{% static 'img/fortthlogo.png' %}" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link m-2 menu-item nav-active">Home</a>
            </li>
            <li class="nav-item learning-assessment-item">
                <a href="{% url 'Events' %}" class="nav-link m-2 menu-item" id="learning-assessment-events">Learning & Assessment Events</a>
                <ul class="dropdown-menu text-center" id="learning-assessment-dropdown" aria-labelledby="dropdownMenuButton1">
                    <li class="py-2 m-2 border"><a class="dropdown-item" href="{% url 'LiveEvents' %}">Live Events</a></li>
                    <li class="py-2 m-2 border"><a class="dropdown-item" href="{% url 'IndustrySpecific' %}">Industry Specific Courses</a></li>
                    <li class="py-2 m-2 border"><a class="dropdown-item" href="#">Industry Agnostic Courses</a></li>
                    
                    <li class="py-2 m-2 border"><a class="dropdown-item" href="#">Assessment Solutions</a></li>
                  </ul>
            </li>
            <li class="nav-item">
                <a href="{% url 'Enterprise' %}" class="nav-link m-2 menu-item">Enterprise</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'Partners' %}" class="nav-link m-2 menu-item">Partners</a>
            </li>
        </ul>
    </div>
    </div>
  </nav>
  <script>
      $(".learning-assessment-item").mouseover(function(){
          
        $("#learning-assessment-dropdown").addClass("show")
      })
      $("#learning-assessment-dropdown").mouseover(function(){
          
          $("#learning-assessment-dropdown").addClass("show")
        })
      $(".learning-assessment-item").mouseout(function(){
          
          $("#learning-assessment-dropdown").removeClass("show")
        })
  </script>