{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "learning/links.html" %}
    <title>Home</title>
    <style>
        .container{
        min-width: 100vw !important;
        }
        .home-desc{
            font-size: 14px;
        }
        .category{
            border: 1px solid #e6e6e6;
            max-width: 25%;
            min-height: 550px;
            background-color: white;
        }
        .flex-header{
            border-bottom: 1px solid #e6e6e6;
        }
        .fit-screen{
            max-height: 80vh;
        }
        .desc-flexwrapper{
            position: absolute;
            margin-top: -5%;
        }
        .category:hover{
            margin-top: -50px;
            transition: 1s;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav class="nav row px-4 py-2">
        <div class="col-2">
            <h3>Logo</h3>
        </div>
        <div class="col-8">
            <div class="d-flex justify-content-center align-items-center">
                <div class="flex-item px-2">
                    <a href="">Home</a>
                </div>
                <div class="flex-item px-2">
                    <a href="">Community</a>
                </div>
                <div class="flex-item px-2">
                    <a href="">Events</a>
                </div>
                <div class="flex-item px-2">
                    <a href="">Services</a>
                </div>
                <div class="flex-item px-2">
                    <a href="">Partnerships</a>
                </div>
            </div>

        </div>
        <div class="col-2 text-right">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <p class="m-0">User</p>
                    </div>
                    <div class="row">
                        <a href=""><strong>Logout</strong></a>
                    </div>
                </div>
                <div class="col-2 text-right">
                    <img src="" alt="">
                </div>
            </div>

        </div>
    </nav>
    <div class="container p-0 m-0">
        <div class="slider-wrapper">
            <div id="carouselExampleIndicators" class="carousel slide w-100" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner w-100">
                  <div class="carousel-item active">
                    <img src="{% static 'home-1.jpg' %}" class="d-block w-100 fit-screen" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'home-2.jpg' %}" class="d-block w-100 fit-screen" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'home-3.jpg' %}" class="d-block w-100 fit-screen" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div id="bottom">
            <div class="desc-flexwrapper">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="flex-item rounded category p-3 mx-3">
                        <div class="flex-header row py-3">
                            <div class="col-2">
                                <img src="{% static 'students-icon.png' %}" class="rounded-circle w-100" alt="">
                            </div>
                            <div class="col-10">
                                <div class="row"><h4>Students and Learners</h4></div>
                                <div class="row"><p class="m-0">(Learning & learning Solutions, Work, Community)</p></div>
                            </div>
                        </div>
                        <div class="flex-body py-3">
                            <ul>
                                <li class="py-1 home-desc">Declutter Online Content</li>
                                <li class="py-1 home-desc">Access personalized industry valued learning recommendations for you </li>
                                <li class="py-1 home-desc">Access personalized industry valued assessment and last mile services recommendations for you</li>
                                <li class="py-1 home-desc">Access personalized differential solutions for you, to augment capacity and capability</li>
                                <li class="py-1 home-desc">Access capacity gap maps revealing gaps to fill and frequency</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex-item rounded category p-3">
                        <div class="flex-header row py-3 mx-3">
                            <div class="col-2">
                                <img src="{% static 'icons\teacher-icon.png' %}" class="rounded-circle w-100" alt="">
                            </div>
                            <div class="col-10">
                                <div class="row"><h4>Educators</h4></div>
                                <div class="row"><p class="m-0">(Learning & learning Solutions, Coaching & Coaching solutions, Work, Community)</p></div>
                            </div>
                        </div>
                        <div class="flex-body py-3">
                            <ul>
                                <li class="py-1 home-desc">Personalize and scale industry valued learning</li>
                                
                                <li class="py-1 home-desc">Personalize and Scale industry valued assessments, audit, licensing and accreditations</li>
                                <li class="py-1 home-desc">Network with practitioners, professionals and validate relevance of learning</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="flex-item rounded category p-3 mx-3">
                        <div class="flex-header row py-3">
                            <div class="col-2">
                                <img src="{% static 'students-icon.png' %}" class="rounded-circle w-100" alt="">
                            </div>
                            <div class="col-10">
                                <div class="row"><h4>Enterprises</h4></div>
                                <div class="row"><p class="m-0">(Capacity, Augmentation, Community)</p></div>
                            </div>
                        </div>
                        <div class="flex-body py-3">
                            <ul>
                                <li class="py-1 home-desc">Access personalized industry valued learniing trusted by enterprises and governments</li>
                                <li class="py-1 home-desc">Access personalized industry valued assessment recommendations for you</li>
                                <li class="py-1 home-desc">Access personalized differential last mile solutions for you, to augment capacity and capabilities</li>
                                <li class="py-1 home-desc">Access capacbility gap maps revealing gaps to fill and frequency</li>
                                <li class="py-1 home-desc">Network with practitioners,industry organizations, to validate relevance of any learning. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>