{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "learning/links.html" %}
    <title>Forte Forge</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .no-style{
            color: black;
        }
        .no-style:hover{
            color:#FF5656;
            text-decoration: none;
            transition: 0.1s;
        }
        .top-btn{
            background-color: #FF5656;
            color: white;
            border: none;
        }
        .top-btn:hover{
            background-color: white;
            color: #FF5656;
        border: none;
        transition: 0.2s;
        }
        .category{
            background-color: #384550;
            border-radius: 1rem;
            border: none !important;
            color: white;
            font-weight: 500;
            min-width: 300px;
            max-width: 300px;
            min-height: 350px;
        }
        .category:hover{
            cursor: pointer;
            background-color: #FF5656;
            border: none !important;
            color: #EBF2FA;
            transition: 0.2s;

        }
        .hidden-desc{
            display: none;
        }
    </style>
</head>
<body>
    {% include 'learning/header.html' %}
      <div class="container">
          <!-- Top banner -->
          <div class="top-wrapper mt-5 px-5">
              <div class="row w-50 pt-5 py-3">
                
                <h1 class="h3">Platform Connecting Learners, Educators, and Enterprises Through Events and Infastructure Guaranteeing Competence and Community,<span class="nav-active"> Lifelong</span></h1>
              </div>
              <div class="row">
                  <div class="col"></div>
                  <div class="col d-flex justify-content-center align-items-center">
                    <div class="mx-2">
                        <button class="btn btn-primary py-4 px-4 top-btn"><span class="h6">Join Our Talent Network</span></button>
                    </div>
                    <div class="mx-2">
                        <button class="btn btn-primary py-4 px-4 top-btn"><span class="h6">Hire Competent Talent</span></button>
                    </div>
                  </div>
                
              </div>
              <div class="d-flex p-5 flex-row-reverse">
                  <div>
                    <button class="btn text-right scroll" onclick="ScrollDown()"><i class="fas fa-arrow-down px-1 nav-active"></i> SCROLL DOWN</button>
                  </div>
                
              </div>
          </div>
          <!-- Middle Data -->
          <div class="middle px-4 bg-light">
            <div class="course-handler p-3 d-flex my-2">

                <div class="course p-3">
                    <div class="row">
                        <img src="{% static 'img/finance.png' %}" class="course-img" alt="">
                    </div>
                    <a href="/courses/industry/specific/#finance-and-insurance" class="no-style">
                        <div class="row w-50"><p class="course-name py-2 h6">FINANCE AND INSURANCE</p></div>
                    </a>

                </div>
                <div class="course p-3">
                    <div class="row">
                        <img src="{% static 'img/IT.png' %}" class="course-img" alt="">
                    </div>
                    <div class="row w-50"><p class="course-name py-2 h6">INFORMATION TECHNOLOGY</p></div>
                </div>
                <div class="course p-3">
                    <div class="row">
                        <img src="{% static 'img/contracting.png' %}" class="course-img" alt="">
                    </div>
                    <a href="/courses/industry/specific/#general-contracting" class="no-style">
                        <div class="row w-50"><p class="course-name py-2 h6">GENERAL CONTRACTING</p></div>
                    </a>
                </div>
                <div class="course p-3">
                    <div class="row">
                        <img src="{% static 'img/healthcare.jpg' %}" class="course-img" alt="">
                    </div>
                    <a href="/courses/industry/specific/#healthcare-and-informatics" class="no-style">
                        <div class="row w-50"><p class="course-name py-2 h6">HEALTHCARE AND CLINICAL INFORMATICS</p></div>
                    </a>
                </div>
                <div class="course p-3">
                    <div class="row">
                        <img src="{% static 'img/manufacturing.jpg' %}" class="course-img" alt="">
                    </div>
                    <a href="/courses/industry/specific/#manufacturing" class="no-style">
                        <div class="row w-50"><p class="course-name py-2 h6">MANUFACTURING</p></div>
                    </a>
                </div>
                <div class="course p-3">
                    <div class="row">
                        <img src="{% static 'img/supply.jpg' %}" class="course-img" alt="">
                    </div>
                    <a href="/courses/industry/specific/#supplychain-and-logistics" class="no-style">
                        <div class="row w-50"><p class="course-name py-2 h6">SUPPLY CHAIN AND LOGISTICS</p></div>
                    </a>
                </div>

            </div>
            <i class="fas fa-arrow-right course-arrow px-1 nav-active"></i>
            <button class="btn btn-primary d-inline text-right course-btn">ALL COURSES</button>

          </div>

          <!-- Categories section -->
          <div class="categories d-flex justify-content-center p-5 my-5">
              <div class="categories-wrapper d-flex px-5">
                <div class="category mx-5 p-5 text-center border d-flex justify-content-center align-items-center">
                    <div>
                        <p class="h2 category-title">For Students</p>
                    </div>
                    <div class="hidden-desc ">
                        <i class="fas fa-graduation-cap h2 py-3"></i>
                        <p class="h5 category-desc">Learn, Network, Benefits.</p>
                    </div>
                </div>
                <div class="category mx-5 p-5 text-center border d-flex justify-content-center align-items-center">
                    <div>
                        <p class="h2 category-title">For Enterprises</p>
                    </div>
                    <div class="hidden-desc">
                        <i class="fas fa-user-tie h2 py-3"></i>
                        <p class="h5 category-desc">Learn, Teach, Network, Benefits.</p>
                    </div>
                </div>
                <div class="category mx-5 p-5 text-center border d-flex justify-content-center align-items-center">
                    <div>
                        
                        <p class="h2 category-title visible">For Partners</p>
                    </div>
                    <div class="hidden-desc">
                        <i class="fas fa-handshake h2 py-3"></i>
                        <p class="h5 category-desc">Teach, Deliver Services, Product Partnerships, Mentorships & Volunteering.</p>
                    </div>
                </div>
               

              </div>    
          </div>

          <!-- Competence -->

          <div class="competence">
              <div class="competence-wrapper p-5">

                    <div class="row text-center">
                        <h2>How Do We Solve For <span class="nav-active">Competence?</span></h2>
                    </div>

                    <div class="content-wrapper d-flex justify-content-center my-5">

                        <div class="service m-2 mx-3">
                            <img src="{% static 'img/Community.png' %}" class="competence-img" alt="">
                            <div class="row py-2"><p class="text-center competence-text">Join Our Talent Community</p></div>
                        </div>

                        <div class="service m-2 mx-3">
                            <img src="{% static 'img/talent.png' %}" class="competence-img" alt="">
                            <div class="row py-2"><p class="text-center competence-text">Hire Matched Talent</p></div>
                        </div>

                        <div class="service m-2 mx-3">
                            <img src="{% static 'img/research.png' %}" class="competence-img" alt="">
                            <div class="row py-2"><p class="text-center competence-text">Data & Research Services</p></div>
                        </div>

                        
                    </div>
                    <div class="content-wrapper d-flex justify-content-center">

                        <div class="service m-2 mx-3">
                            <img src="{% static 'img/learning.png' %}" class="competence-img" alt="">
                            <div class="row py-2"><p class="text-center competence-text">Learning and Assessment Services</p></div>
                        </div>

                        <div class="service m-2 mx-3">
                            <img src="{% static 'img/agile.png' %}" class="competence-img" alt="">
                            <div class="row py-2"><p class="text-center competence-text">Agile Project Management Services</p></div>
                        </div>
                    </div>

              </div>
          </div>

          <!-- Partners -->

          <div class="partners">
              <div class="row partners-wrapper p-3">
                <div class="row"><p class="h5 text-center text-white">Trusted by</p></div>

                <div class="partners-content d-flex justify-content-center px-5 py-3">
                    <div class="partner mx-3">
                        <img src="{% static 'img/nova.png' %}" alt="">
                    </div>

                    <div class="partner mx-3">
                        <img src="{% static 'img/kyro.png' %}" alt="">
                    </div>

                    <div class="partner mx-3">
                        <img src="{% static 'img/truvision.png' %}" alt="">
                    </div>

                    <div class="partner mx-3">
                        <img src="{% static 'img/brushed.png' %}" alt="">
                    </div>
                </div>
              </div>
          </div>

            <!-- Contact -->

        <div class="contact p-5 my-5">
            <div class="wrapper row">
                <div class="col-5 contact-bg">
                    <img src="{% static 'img/contact-bg-1.png' %}" class="contact-bg" alt="">
                </div>
                <div class="col-7 contact-form">
                    <h2 class="nav-active px-5">With the Right Platform, Everything Is Possible</h2>
                    <div class="contact-form-wrapper">
                        <form action="{% url 'index' %}" method="POST" id="contact-form" class="p-5">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <!-- <input type="text" placeholder="First Name" class="form-control m-2"> -->
                                    {{ form.first_name }}
                                </div>
                                <div class="col">
                                    <!-- <input type="text" placeholder="Last Name" class="form-control m-2"> -->
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <!-- <input type="text" placeholder="Phone" class="form-control m-2"> -->
                                    {{ form.phone }}
                                </div>
                                <div class="col">
                                    <!-- <input type="email" placeholder="Email address" class="form-control m-2"> -->
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <!-- <input type="text" list="cities" name="city" required id="id_city" placeholder="City" class="form-control m-2"> -->
                                    {{ form.city }}
                                    

                                </div>
                                <div class="col">
                                    <!-- <input type="email" placeholder="Country" class="form-control m-2"> -->
                                    {{ form.country }}
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <input type="text" class="form-control m-2" placeholder="Company"> -->

                                {{ form.company }}
                            </div>
                            <!-- <textarea class="form-control m-2" placeholder="Type Text" rows="5"></textarea> -->
                            {{ form.message }}
                            <div class="row text-center mt-5">
                                <p><input type="checkbox" name="t&c" id="" class="mx-1"><strong>Terms and Conditions & Privacy Policy</strong></p>
                                
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <div><i class="fab fa-linkedin mx-1"></i></div>
                                <div><i class="fab fa-facebook mx-1"></i></div>
                                <div><i class="fab fa-twitter mx-1"></i></div>
                                <div><i class="fab fa-instagram mx-1"></i></div>
                                
                            </div>  
                            <div class="row text-center">
                                <button type="submit" class="btn btn-primary text-center m-2 submit py-3">Submit</button>
                            </div>
                            

                        </form>
                    </div>


                </div>
            </div>

        </div>
        
      </div>
      {% include "learning/footer.html" %}
        <script>
            $(".category").mouseover(function(){
                
                target=this.children[0]
                $(target).css("display","none")
                // $(target).addClass("hidden")
                target=this.children[1]
                $(target).css("display","block")


            })
            $(".category").mouseleave(function(){
                
                target=this.children[1]
                // $(target).addClass("hidden")
                $(target).css("display","none")
                target=this.children[0]
                $(target).css('display',"block")
                // $(target).removeClass("hidden")

            })
            function ScrollDown(){
                window.scrollBy(0, window.innerHeight);
            }
            document.querySelector("#id_first_name").className="form-control m-2"
            document.querySelector("#id_first_name").placeholder="First Name"

            document.querySelector("#id_last_name").className="form-control m-2"
            document.querySelector("#id_last_name").placeholder="Last Name"

            document.querySelector("#id_phone").className="form-control m-2"
            document.querySelector("#id_phone").placeholder="Phone"

            document.querySelector("#id_email").className="form-control m-2"
            document.querySelector("#id_email").placeholder="Email"

            document.querySelector("#id_city").className="form-control m-2 select-picker"
            document.querySelector("#id_city").placeholder="City"
            document.querySelector("#id_city").setAttribute("data-live-search",true)

            document.querySelector("#id_country").className="form-control m-2 select-picker"
            document.querySelector("#id_country").placeholder="Country"
            document.querySelector("#id_country").setAttribute("data-live-search",true)

            document.querySelector("#id_company").className="form-control m-2"
            document.querySelector("#id_company").placeholder="Company"

            $('#id_message').each(function() {
    
                $(this).replaceWith($('<textarea name="message" maxlength="1000" required id="id_message" class="form-control m-2" placeholder="Type Text" rows="5"></textarea>'));
            
            });

        </script>
</body>
</html>