{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "learning/links.html" %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Course</title>
    <style>
        @font-face {
            font-family: Gilroy;
            src: url('/static/fonts/Gilroy-Regular.ttf');
        }
        .content-object:hover{
            cursor: pointer;
        }
        .more-course-img{
            min-width: 100%;
            max-width: 375px;
        }
        .more-instructor-img{
            max-width: 80px;
            min-height: 80px;
        }
        .neg-margin{
            margin-top: -40px;
        }
        .course-handler{
            overflow-x: auto;
        }
        .main-wrapper{
            height: 100%;
        }
        .join-btn{
            background-color: white;
            color: #FF5656;
            border: none;
        }
        .join-btn:hover{
            background-color: #FF5656;
            color: white;
            border: none;
        }   
        .event-container{
            background-color: #FF5656;
            color: white;
        }
        .events{
            min-width: 100vw;
            font-family: Gilroy;
        }
        .presenters{
            height: 100%;
        }
        .presenters-wrapper{
            border-left: 3px solid rgba(255,255,255,0.5);
            
        }
        .small-img{
            max-width: 40px;
        }
        .event-container-wrapper{
            border-left: 2px solid rgba(255,255,255,0.3);
        }
        .event-list{
            list-style-type: none;
        }
        .event-active{
            position: absolute;
            margin-left: -3.35rem;
            margin-top: 1rem;
            font-size: 30px;
            display: inline;
            background-color: #FF5656;
            width: 50px;

        }
        .event-inactive{
            position: absolute;
            margin-left: -3rem;
            margin-top: 1rem;
            font-size: 20px;
            
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid p-3">
          <img src="{% static 'img/fortthlogo.png' %}" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link m-2 menu-item ">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Events' %}" class="nav-link m-2 menu-item nav-active">Learning & Assessment Events</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Enterprise</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Partners</a>
                </li>
            </ul>
        </div>
        </div>
      </nav>
      <div class="container">
          <!-- Top banner -->
          <div class="top-wrapper top-img-container">
            <img src="{% static 'img/library-bg.jpg' %}" class="w-100 overlay-1" alt="">
              <img src="{% static 'img/Rectangle-black.png' %}" class="w-100 overlay" alt="">
            <div class="main-wrapper text-white px-5 py-5 d-flex flex-column justify-content-center">
                <div>
                <h1 class="fw-bold extra">Events</h1>
                </div>
                
            </div>
        </div>
        <!-- Tree -->
        <div class="tree py-4 px-5 shadow">
            <div class="d-flex flex-row">
                <div class="tree-element">
                    <span>>></span><p class="d-inline">Home</p>
                </div>

                <div class="tree-element mx-3">
                    <span>>></span><p class="d-inline">Live Events</p>
                </div>
                
            </div>
        </div>
        <div class="events p-5">
            <div class="event-wrapper row">
                <div class="col-7">
                    <div class="event-container rounded d-flex flex-column justify-content-center px-5 shadow">
                        <div class="event-container-wrapper py-5 px-4">
                            <ul class="event-list m-0 p-0">
                                <li class="active-li">
                                    <div class="event row px-3 mb-5">
                                        <i class="far fa-circle event-active"></i>
                                        <div class="col-8">
                                            <div class="timings my-3">
                                                <div class="time d-inline"><p class="h5 d-inline fw-bold">09:00 - 11:00</p></div>
                                                <div class="d-inline"><span class="live">LIVE NOW</span></div>
                                            </div>
                                            <div class="title my-3 w-75">
                                                <h3 >Jira & Microsoft Office Project Expert</h3>
                                            </div>
                                            <div class="join my-3">
                                                <button class="btn btn-primary join-btn py-2 px-5">Join Now</button>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="presenters d-flex flex-column justify-content-center">
                                                <div class="presenters-wrapper d-flex flex-row px-3">
                                                    <div class="px-2">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img" alt="">
                                                    </div>
                                                    <div class="px-2">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img" alt="">
                                                    </div>
                                                    <div class="px-2">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img" alt="">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="event-small row px-3">
                                        <i class="fas fa-circle event-inactive"></i>
                                        <div class="col-5">
                                            <div class="timings my-3">
                                                <div class="time d-inline"><p class="h6 d-inline">09:00 - 11:00</p></div>
                                                
                                            </div>
                                            <div class="title my-3">
                                                <h5 >Scrum Master Prep Course</h5>
                                            </div>
                                            
                                        </div>
                                        <div class="col-2">
                                            <div class="presenters d-flex flex-column justify-content-center">
                                                <div class="presenters-wrapper d-flex flex-row px-3">
                                                    <div class="px-1">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                                    </div>
                                                    <div class="px-1">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                                    </div>
                                                    <div class="px-1">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    

                </div>
                <div class="col-5">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sessions p-5">
            <div class="sessions-wrapper">
                <div class="heading-wrapper">
                    <h2 class="nav-active text-center">Upcoming Live Sessions</h2>
                </div>
                <div class="sessions-content d-flex justify-content-center my-5">
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-1.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Agile project Management + Jira Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$599</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sessions-content d-flex justify-content-center my-5">
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-3.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Lean Six Sigma Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$599</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

        
      </div>
      {% include 'learning/footer.html' %}
     
</body>
</html>