{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "learning/links.html" %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Live Events</title>
    <style>
        @font-face {
            font-family: Gilroy;
            src: url('/static/fonts/Gilroy-Regular.ttf');
        }
        .content-object:hover{
            cursor: pointer;
        }
        .more-course-img{
            min-width: 100%;
            max-width: 375px;
        }
        .more-instructor-img{
            max-width: 80px;
            min-height: 80px;
        }
        .neg-margin{
            margin-top: -40px;
        }
        .course-handler{
            overflow-x: auto;
        }
        .main-wrapper{
            height: 100%;
        }
        .join-btn{
            background-color: white;
            color: #384651;
            border: 1px solid #384651;
        }
        .join-btn:hover{
            background-color: #384651;
            color: white;
            border: 1px solid white;
            
        }   
        .event-container{
            background-color: #384651;
            color: white;
        }
        .events{
            min-width: 100vw;
            font-family: Gilroy;
        }
        .presenters{
            height: 100%;
        }
        .presenters-wrapper{
            border-left: 3px solid rgba(255,255,255,0.5);
            
        }
        .small-img{
            max-width: 40px;
        }
        .event-container-wrapper{
            border-left: 2px solid rgba(255,255,255,0.3);
        }
        .event-list{
            list-style-type: none;
        }
        .event-active{
            position: absolute;
            margin-left: -3.35rem;
            margin-top: 1rem;
            font-size: 30px;
            display: inline;
            background-color: #384651;
            width: 50px;

        }
        .event-inactive{
            position: absolute;
            margin-left: -3rem;
            margin-top: 1rem;
            font-size: 20px;
            
        }
        .modal-body{
            font-family: Gilroy;
        }
        .social-btn{
            background-color: transparent;
            border: 1px solid #707070 !important;
        }
        .facebook{
            background-color: #1B538A;
            color: white;
            border: 1px solid #1B538A !important;
        }
        .modal-dialog{
            max-width: 650px !important;
        }
        .modal-input{
            border: none;
            border-bottom: 1px solid #707070;

        }
        .modal-input::placeholder{
            color: #707070;
        }
        .modal-input:focus{
            outline: none;
        }
        .modal-login-btn{
            background-color: #FF5656;
            color: white;
            border: none;
        }
        .modal-login-btn:hover{
            background-color: white;
            color: #FF5656;
            transition: 0.3s;
        }
        .join-primary{
            background-color: #384651;
            border: 1px solid #384651;
        }
        .join-primary:hover{
            border: 1px solid #384651;
            background-color: white;
            color: #384651;
            transition: 0.2s;
        }
        .read-more-btn{
            font-size: 13px;
        }
        .sessions-content > div{
            min-width: 384px;
        }

    </style>
</head>
<body>
    {% include 'learning/header.html' %}
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            
            <div class="modal-body">
              <div class="modal-wrapper d-flex flex-column justify-content-center align-items-center px-5">
                <div class="my-1">
                    <h1 class="nav-active">Log in to your Account</h1>
                </div>
                <div class="px-1 w-75 my-2 d-flex flex-column justify-content-center align-items-center">
                    <div class="my-2 w-100">
                        <button class="social-btn facebook p-3 w-100 text-left"><i class="fab fa-facebook-f mx-2 text-white"></i>Continue with Facebook</button>
                    </div>
                    <div class="my-2 w-100">
                        <button class="social-btn google w-100 p-3 text-left"><i class="fab fa-google mx-2"></i> Continue with Google</button>
                    </div>
                    <div class="my-2 w-100">
                        <div class="social-btn linkedin w-100 p-3 text-left"><i class="fab fa-linkedin-in mx-2"></i>Continue with Linkedin</div>
                    </div>
                    <div class="my-2 mt-3 w-100">
                        <input type="email" placeholder="Email" class="modal-input px-3 py-2 w-100">
                    </div>
                    <div class="my-2 w-100">
                        <input type="password" placeholder="Password" class="modal-input px-3 py-2 w-100">
                    </div>
                    <div class="my-3 w-100">
                        <button class="modal-login-btn w-100 p-3 text-center">Log in</button>
                    </div>
                    <div class="my-2">
                        <a href="#" class="no-design nav-active fw-bold">Or Forgot Password</a>
                    </div>
                    <div class="my-5">
                        <p>Don't have an account?<span class="signup mx-1">Signup</span></p>
                    </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="container">
          <!-- Top banner -->
          <div class="top-wrapper top-img-container">
            <img src="{% static 'img/events-banner.png' %}" class="w-100 overlay-1" alt="">
              <img src="{% static 'img/Rectangle-black.png' %}" class="w-100 overlay" alt="">
            <div class="main-wrapper text-white px-5 py-5 d-flex flex-column justify-content-center">
                <div>
                <h1 class="fw-bold extra">Events</h1>
                </div>
                
            </div>
        </div>
        <!-- Tree -->
        <div class="tree py-4 px-5 shadow">
            <div class="d-flex flex-row">
                <div class="tree-element">
                    <span>>></span><p class="d-inline">Home</p>
                </div>

                <div class="tree-element mx-3">
                    <span>>></span><p class="d-inline">Live Events</p>
                </div>
                
            </div>
        </div>
        <div class="events p-5">
            <div class="event-wrapper row">
                <div class="col-7">
                    <div class="event-container rounded d-flex flex-column justify-content-center px-5 shadow">
                        <div class="event-container-wrapper py-5 px-4">
                            <ul class="event-list m-0 p-0">
                                <li class="active-li">
                                    <div class="event row px-3 mb-5">
                                        <i class="far fa-circle event-active"></i>
                                        <div class="col-8">
                                            <div class="timings my-3">
                                                <div class="time d-inline"><p class="h5 d-inline fw-bold">09:00 - 11:00</p></div>
                                                <div class="d-inline"><span class="live">LIVE NOW</span></div>
                                            </div>
                                            <div class="title my-3 w-75">
                                                <h3 >Jira & Microsoft Office Project Expert</h3>
                                            </div>
                                            <div class="join my-3">
                                                <a class="btn btn-primary join-btn join-now py-2 px-5" href="{% url 'CurrentLive' %}">Join Now</a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="presenters d-flex flex-column justify-content-center">
                                                <div class="presenters-wrapper d-flex flex-row px-3">
                                                    <div class="px-2">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img" alt="">
                                                    </div>
                                                    <div class="px-2">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img" alt="">
                                                    </div>
                                                    <div class="px-2">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img" alt="">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="event-small row px-3">
                                        <i class="fas fa-circle event-inactive"></i>
                                        <div class="col-5">
                                            <div class="timings my-3">
                                                <div class="time d-inline"><p class="h6 d-inline">09:00 - 11:00</p></div>
                                                
                                            </div>
                                            <div class="title my-3">
                                                <h5 >Scrum Master Prep Course</h5>
                                            </div>
                                            
                                        </div>
                                        <div class="col-2">
                                            <div class="presenters d-flex flex-column justify-content-center">
                                                <div class="presenters-wrapper d-flex flex-row px-3">
                                                    <div class="px-1">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                                    </div>
                                                    <div class="px-1">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                                    </div>
                                                    <div class="px-1">
                                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    

                </div>
                <div class="col-5">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary join-now py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary join-now py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary join-now py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="session shadow p-4">
                                <div class="d-flex flex-row justify-content-center align-items-center py-2">
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <img src="{% static 'img/presenter.png' %}" class="user-img small-img" alt="">
                                    </div>
                                    <div class="px-1">
                                        <span class="more rounded-circle">+34</span>
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <p class="mb-0 h5">Project Management Professional</p>
                                </div>
                                <div class="row">
                                    <p class="text-secondary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur!</p>
                                </div>
                                <div class="row py-1">
                                    <div class="col text-center">
                                        <p>67 members</p>
                                    </div>
                                    <div class="col text-center border-left">
                                        <p class="text-success">14 Online</p>
                                    </div>
                                </div>
                                <div class="row text-center px-5 py-1">
                                    <button class="btn btn-primary join-primary join-now py-1 px-2">Join Now</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sessions p-5">
            <div class="sessions-wrapper">
                <div class="heading-wrapper">
                    <h2 class="nav-active text-center">Upcoming Live Sessions</h2>
                </div>
                <div class="sessions-content d-flex justify-content-center my-5">
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-1.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Agile project Management + Jira Crash Course</p></div>
                                <div class="row session-about-holder pt-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$599</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder pr-0"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder pr-0"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder pr-0"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sessions-content d-flex justify-content-center my-5">
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-3.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Lean Six Sigma Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$599</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder pr-0"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder pr-0"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="session p-3 shadow rounded-3 mx-2">
                        <div class="row">
                            <div class="col-5">
                                <img src="{% static 'img/session-2.png' %}" class="session-img w-100" alt="">
                            </div>
                            
                            <div class="col-7">
                                <div class="row session-title-holder"><p class="session-title px-0">Data Analysis With Microsoft Office Excel Crash Course</p></div>
                                <div class="row session-about-holder py-2">
                                    <div class="row session-speaker-holder"><p class="session-speaker nav-active p-0 my-1">Justus Aiyela</p></div>
                                    <div class="row">
                                        <div class="col-2 rating-holder p-0"><p class="rating p-0">5.0</p></div>
                                        <div class="col-8 review-holder">
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                            <i class="rating__star far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row price-holder"><p class="session-price nav-active m-0 p-0">$399</p></div>
                                    <div class="row">
                                        <div class="col terms-holder p-0"><p class="terms p-0 m-0">Terms Apply</p></div>
                                        <div class="col more-holder pr-0"><button class="read-more-btn btn btn-primary rounded-pill w-100 ">Read More</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

        
      </div>
      {% include 'learning/footer.html' %}
     
      <script>
          $(".join-now").on("click",function(){
             
              $("#LoginModal").modal("show")
          })
      </script>
</body>
</html>