{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'learning/links.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Partners | ForteForge</title>
    <style>
        @font-face {
            font-family: Gilroy;
            src: url('/static/fonts/Gilroy-Regular.ttf');
        }
        /* .container{margin: auto !important;} */
        .get-started{
            background-color: #FF5656;
            color: white;
            border: 1px solid #FF5656;
        }
        .get-started:hover{
            color: #FF5656;
            background-color: white;
            transition: 0.2s;
            border: 1px solid #FF5656;

        }
        .top,.opportunities,.partner-forteforge{
            font-family: Gilroy;
            min-width: 100vw;
        }
        .top{
            min-height: 600px;
            min-width: 100vw;
            /* min-width: 100vw; */
        }
        .top>div{
            min-height: 600px;
        }
        .top>div>div{
            min-height: 600px;
        }
        .overlay-1-partner{
            position: absolute;
            z-index: -2;
            
        }
        .overlay-partner{
            position: absolute;
            z-index: -1;
        }
        .blue-text{
            color: #38505D;
        }
        .opportunity{
            background-color: #38505D;
        }
        .bit-large{
            font-size: 20px;
        }
        .why-partner-img{
            position: absolute;
            max-width: 400px;
            max-height: 320px;
        }
        .partner-reason{
            min-width:400px;
            min-height: 320px;
            max-width: 400px;
            position: relative;
        }
        .position-1{
            z-index: -2;
        }
        .position-2{
            z-index: -1;
        }
    </style>
</head>
<body>
    {% include 'learning/header.html' %}
    <div class="container">
        <div class="top p-5">
            <div class="row">
                <div class="col">
                    <div class="partner-banner-wrapper p-5 d-flex flex-column justify-content-center h-100">
                        <div class="heading-wrapper my-2">
                            <h1>Become a <span class="nav-active d-block">ForteForge Partner</span></h1>
                        </div>
                        <div class="text-wrapper my-2">
                            <p class="text-dark">We partner with Technical Institutes, Educators, Professional Bodies, 
                                Skill Assessment Companies and Enterprises around the world, to 
                                facilitate the triage guaranteeing the competitiveness of economies 
                                everywhere.</p>
                        </div>
                        <div class="btn-wrapper my-2">
                            <button class="btn btn-primary get-started">Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="banner-img-wrapper p-5 h-100">
                        <img src="{% static 'img/partners.png' %}" class="rounded w-75 overlay-1-partner" alt="">
                        <img src="{% static 'img/black-square-bg.png' %}" class="rounded w-75 overlay-partner" alt="">
                    </div>
                </div>
            </div>    
        </div>
        <div class="opportunities my-5 p-5">
            <div class="opportunities-wrapper">
                <h2 class="blue-text">Partnership Opportunities</h2>
                <div class="opportunities-holder d-flex flex-column py-2">
                    <div class="opportunity text-white px-5 py-3 rounded mb-4">
                        <div class="row">
                            <p class="bit-large">LEARNING INSTITUTES</p>
                        </div>
                        <div class="row">
                            <p class="x-small">Partnering with the world’s leading technical Institutes to guarantee industry valued learning in real time</p>
                        </div>
                    </div>
                    <div class="opportunity text-white px-5 py-3 rounded mb-4">
                        <div class="row">
                            <p class="bit-large">EDUCATORS</p>
                        </div>
                        <div class="row">
                            <p class="x-small">Forteforge is the place where high quality educators become rockstars!!. We ensure educators are exposed to CPD 
                                and competence enhancing opportunities while they’re matched to learners and institutions best suited for their style of teaching. </p>
                        </div>
                    </div>
                    <div class="opportunity text-white px-5 py-3 rounded mb-4">
                        <div class="row">
                            <p class="bit-large">CERTIFYING BODIES & SKILLS ASSESSMENT PARTNERS</p>
                        </div>
                        <div class="row">
                            <p class="x-small">Getting more professionals and students around the world to take assessment exams, attend CPD events, connect with assessors</p>
                        </div>
                    </div>
                    <div class="opportunity text-white px-5 py-3 rounded mb-4">
                        <div class="row">
                            <p class="bit-large">PRODUCT PARTNERS</p>
                        </div>
                        <div class="row">
                            <p class="x-small">Forteforge is your best bet when seeking competent partners who care about you product, provide Go-Live and Ops support solutions, 
                                at end user touch points, transforming the way your client enterprises succeed and meet their strategic objectives. </p>
                        </div>
                    </div>
                    <div class="opportunity text-white px-5 py-3 rounded mb-4">
                        <div class="row">
                            <p class="bit-large">SERVICE PARTNERS</p>
                        </div>
                        <div class="row">
                            <p class="x-small">Forteforge delivers services that aim to solve teething problems in workstreams across siloes. </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="partner-forteforge p-5 my-5">
            <div class="partner-forteforge-wrapper my-5">
                <h2 class="blue-text pl-3">Why Partner With ForteForge</h2>
            </div>     
            <div class="d-flex m-auto mt-5">
                <div class="partner-reason m-3 rounded text-white">
                    <img src="{% static 'img/partner-why-1.png' %}" class="w-100 why-partner-img rounded position-1" alt="">
                    <img src="{% static 'img/half-transparent.png' %}" class="w-100 why-partner-img rounded position-2" alt="">
                    <div class="text-wrapper text-center h-100 p-5">
                        <div class="text-heading">
                            <p class="h5">Global Reach</p>
                        </div>
                        <div class="body-text h-100">
                            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                <div>
                                    <p>Providing much needed market expansion need in target and emerging markets. Our team and network team of solution specialists, locally and globally, engage to deliver real value by being implementing partners per excellence. We are able to tailor fit solutions to middle skill sector needs, improving them to deliver internal, as well as far reaching micro and macro-economic benefits. </p>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="partner-reason m-3 rounded text-white">
                    <img src="{% static 'img/partner-why-2.png' %}" class="w-100 why-partner-img rounded position-1" alt="">
                    <img src="{% static 'img/half-transparent.png' %}" class="w-100 why-partner-img rounded position-2" alt="">
                    <div class="text-wrapper text-center h-100 p-5">
                        <div class="text-heading">
                            <p class="h5">Partner Success</p>
                        </div>
                        <div class="body-text h-100">
                            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                <div class="m-auto">
                                    <p>Providing support and feedback where solutions can be made delightful for the end user, improving outcomes for both end users and partner enterprises.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="partner-reason m-3 rounded text-white">
                    <img src="{% static 'img/partner-why-3.png' %}" class="w-100 why-partner-img rounded position-1" alt="">
                    <img src="{% static 'img/half-transparent.png' %}" class="w-100 why-partner-img rounded position-2" alt="">
                    <div class="text-wrapper text-center h-100 p-5">
                        <div class="text-heading">
                            <p class="h5">Lean Excellence</p>
                        </div>
                        <div class="body-text h-100">
                            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                <div>
                                    <p>Our clients leverage packaged access to high quality solutions that help keep operations efficient, measures effective, and outcomes meeting and exceeding positive expectations as they deliver high value products and services to their customers.   </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="d-flex m-auto">
                <div class="partner-reason m-3 rounded text-white">
                    <img src="{% static 'img/partner-why-3.png' %}" class="w-100 why-partner-img rounded position-1" alt="">
                    <img src="{% static 'img/half-transparent.png' %}" class="w-100 why-partner-img rounded position-2" alt="">
                    <div class="text-wrapper text-center h-100 p-5">
                        <div class="text-heading">
                            <p class="h5">HCI Growth Focus</p>
                        </div>
                        <div class="body-text h-100">
                            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                <div>
                                    <p>Forteforge has a drilled down vision on bridging middle skill sector gaps end to end by leveraging transformative implementations. This entails building high quality people, processes, and leveraging high grade technology for every system. Results delivered help our clients meet their strategic objectives, while improving the HCI of their local economies.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'learning/footer.html' %}
    <script>
        $(".nav-link").removeClass("nav-active");
        $(document.querySelectorAll(".nav-link")[3]).addClass("nav-active");

    </script>
</body>
</html>