<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .get{
            width: 100%;
            padding: 10px;
        }
        .btn-1{
            border: none;
            border-radius: 8px;
            width: 30%;
            padding: 10px;
        }

        .btn-2{
            border: none;
            border-radius: 8px;
            width: 40%;
            padding: 10px;
        }

        .btn-3{
            border: none;
            border-radius: 8px;
            width: 20%;
            padding: 10px;
        }

    </style>
    <title>Signup</title>
</head>
<body>
        <header class="nav"></header>
        <div class="container d-flex justify-content-center">
            
            <form action="" class="form-control">
                <div class="form-wrapper">
                    <h4>Sigu Up as <br><strong>STUDENT/LEARNER</strong></h4><br>
                    <p>Enter Personal Details</p>
                    <div class="row">
                        <div class="col">
                            <label for="first-name"><strong>First Name</strong> </label><br>
                            <input class="get" type="text" name="first name" id="first-name" placeholder="Enter First Name">
                        </div>
                        <div class="col">
                            <label for="last-name"><strong>Last Name</strong></label><br>
                            <input class="get" type="text" name="last name" id="last-name" placeholder="Enter Last Name">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col"> 
                            <label for="dob"><strong>Date of Birth</strong></label><br>
                            <input class="get" type="date" name="date of birth" id="dob" placeholder="Enter Date of Birth">
                        </div>
                        <div class="col">
                            
                        </div>     
                    </div><br>
                    <p>Enter Your Address</p>
                    <div class="row">
                        <div class="col">
                            <label for="postal code"><strong>Postal Code</strong></label><br>
                            <input class="get" type="number" name="postal code" id="postal code" placeholder="Enter Postal Code">
                        </div>
                        <div class="col">
                            <label for="street name"><strong>Street Name</strong></label><br>
                            <input class="get" type="text" name="street name" id="street name" placeholder="Enter Street">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <label for="city"><strong>City</strong></label><br>
                            <input class="get" type="text" name="" id="city" placeholder="Enter City">
                        </div>
                        <div class="col">
                            <label for="State"><strong>State</strong></label><br>
                            <input class="get" type="text" name="" id="state" placeholder="Enter State">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <label for="country"><strong>Country</strong></label><br>
                            <input class="get" type="text" name="" id="country" placeholder="Enter Country">
                        </div>
                        <div class="col">
                            <label for="email"><strong>Email</strong></label><br>
                            <input class="get" type="email" name="" id="email" placeholder="Enter Email">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <label for="password"><strong>Password</strong></label><br>
                            <input class="get" type="password" name="" id="password" placeholder="Enter Password">
                        </div>
                        <div class="col">
                            <label for="c-password"><strong>Confirm Password</strong></label><br>
                            <input class="get" type="password" name="" id="c-password" placeholder="Re-enter Password">
                        </div>
                    </div><br>
                    <p>Portfolio and availiblity</p>
                    <div class="row">
                        <div class="col">
                            <label for="work category"><strong>Work Category</strong></label><br>
                            <select class="get" name="" id="work category">
                                <option selected>Select Work Category</option>
                                <option value="abc">ABC</option>
                                <option value="xyz">xyz</option>
                                <option value="pqr">PQR</option>
                            </select><br>
                            <form  action="">
                                <input class="btn-1 btn-primary" type="submit" value="Add New Category">
                              </form>
                        </div>
                        <div class="col">
                            <label for="sub-category"><strong>Sub Category</strong></label><br>
                            <select class="get" name="" id="sub-category">
                                <option selected>Select Sub-Category</option>
                                <option value="abc">ABC</option>
                                <option value="xyz">xyz</option>
                                <option value="pqr">PQR</option>
                            </select><br>
                            <form  action="">
                                <input class="btn-2 btn-primary" type="submit" value="Add New Sub-Category">
                              </form>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <label for="attach portfolio"><strong>Attached Portfolio</strong></label>
                            <p>(An original work sample is required, you will be disqualified for <br>providing work not created by you)</p>
                            <form>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Add Portfolio</label>
                                </div>
                            </form>
                                <script>
                                // Add the following code if you want the name of the file appear on select
                                $(".custom-file-input").on("change", function() {
                                    var fileName = $(this).val().split("\\").pop();
                                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                });
                                </script>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <label for="availiblity"><strong>Set Your Availiblity</strong></label><br>
                            <input class="get" type="text" name="" id="availiblity" placeholder="Enter Your Available Days">
                        </div>
                        <div class="col">
                            <br>
                            <input class="get" type="text" name="" id="" placeholder="Select Your Location For Field Work" style="margin-top: 8px;">
                        </div>
                    </div><br>
                    <div>
                        <input type="checkbox" id="checkbox"> <span><p>I understand and agree <strong>with the terms and Conditions</strong></p></span>
                    </div><br>
                    <div>
                        <input class="btn-3 btn-primary" type="submit" value="Sign Up">
                    </div>
                </div>
            </form>
        </div>
</body>
</html>